/* Import Fonts - Must be first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import "tailwindcss";

/* Font Configuration */
@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-bree: 'Bree Serif', serif;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* This forces the Swiper transition to be linear rather than ease-out */
.text-linear-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Google Translate styling overrides to keep the UI clean and premium */
.skiptranslate, 
iframe.goog-te-banner-frame,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0px !important;
}

.goog-te-gadget {
  display: none !important;
}

/* Apply Noto Sans Arabic font only when HTML lang is set to Arabic ('ar') */
html[lang="ar"],
html[lang="ar"] body,
html[lang="ar"] * {
  font-family: "Noto Sans Arabic", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}